.line-136 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 519.5px;
  opacity: 1;
}

.line-328 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 529.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-349 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 536px;
  top: 453.5px;
  opacity: 1;
}

.line-781 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 830px;
  top: 453.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-782 {
  width: 19px;
  height: auto;
  position: absolute;
  left: 830px;
  top: 480.5px;
  opacity: 1;
}

.line-351 {
  width: 108px;
  height: 1px;
  position: absolute;
  left: 554px;
  top: 468px;
  opacity: 1;
}

.line-818 {
  width: 26px;
  height: 1px;
  position: absolute;
  left: 778px;
  top: 440px;
  opacity: 1;
}

.line-819 {
  width: 26px;
  height: 1px;
  position: absolute;
  left: 602px;
  top: 495px;
  opacity: 1;
}

.line-350 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 536px;
  top: 480.5px;
  opacity: 1;
}

.line-343 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 548px;
  top: 614.5px;
  opacity: 1;
}

.line-342 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 548px;
  top: 586.5px;
  opacity: 1;
}

.line-346 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 646px;
  top: 715.5px;
  opacity: 1;
}

.line-345 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 646px;
  top: 683.5px;
  opacity: 1;
}

.line-331 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 391px;
  top: 551px;
  opacity: 1;
}

.line-329 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 573.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-137 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 180px;
  top: 530px;
  opacity: 1;
}

.line-138 {
  width: 2px;
  height: 21px;
  position: absolute;
  left: 180px;
  top: 519px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-786 {
  width: 2px;
  height: 21px;
  position: absolute;
  left: 180px;
  top: 562px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-141 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 539.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-784 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 562.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-785 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 582.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-355 {
  width: 32px;
  height: 1px;
  position: absolute;
  left: 180px;
  top: 573px;
  opacity: 1;
}

.line-152 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 617.5px;
  opacity: 1;
}

.line-153 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 179px;
  top: 627px;
  opacity: 1;
}

.line-154 {
  width: 2px;
  height: 21px;
  position: absolute;
  left: 179px;
  top: 617px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-157 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 637.5px;
  opacity: 1;
}

.line-160 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 660.5px;
  opacity: 1;
}

.line-161 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 179px;
  top: 671px;
  opacity: 1;
}

.line-162 {
  width: 2px;
  height: 21px;
  position: absolute;
  left: 179px;
  top: 660px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-165 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 680.5px;
  opacity: 1;
}

.line-787 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 160px;
  top: 728.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-788 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 179px;
  top: 738.5px;
  opacity: 1;
}

.line-811 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 179px;
  top: 781.5px;
  opacity: 1;
}

.line-789 {
  width: 2px;
  height: 21px;
  position: absolute;
  left: 179px;
  top: 728px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-790 {
  width: 2px;
  height: 21px;
  position: absolute;
  left: 179px;
  top: 771px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-792 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 160px;
  top: 748.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-793 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 160px;
  top: 771.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-794 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 160px;
  top: 791.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-803 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 160px;
  top: 826.5px;
  opacity: 1;
}

.line-804 {
  width: 34px;
  height: 1px;
  position: absolute;
  left: 178px;
  top: 836px;
  opacity: 1;
}

.line-805 {
  width: 2px;
  height: 21px;
  position: absolute;
  left: 178px;
  top: 826px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-806 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 160px;
  top: 846.5px;
  opacity: 1;
}

.line-807 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 160px;
  top: 869.5px;
  opacity: 1;
}

.line-808 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 178px;
  top: 880px;
  opacity: 1;
}

.line-809 {
  width: 2px;
  height: 21px;
  position: absolute;
  left: 178px;
  top: 869px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-810 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 160px;
  top: 889.5px;
  opacity: 1;
}

.line-332 {
  width: 2px;
  height: 45px;
  position: absolute;
  left: 391px;
  top: 529px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-333 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 471px;
  top: 551px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-352 {
  width: 2px;
  height: 28px;
  position: absolute;
  left: 554px;
  top: 453px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-783 {
  width: 2px;
  height: 28px;
  position: absolute;
  left: 830px;
  top: 453px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-353 {
  width: 2px;
  height: 15px;
  position: absolute;
  left: 662px;
  top: 454.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-814 {
  width: 2px;
  height: 15px;
  position: absolute;
  left: 722px;
  top: 466.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-334 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 670.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-335 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 391px;
  top: 649px;
  opacity: 1;
}

.line-336 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 626.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-338 {
  width: 2px;
  height: 45px;
  position: absolute;
  left: 391px;
  top: 671px;
  transform: translate(-0.5px, -45px);
  opacity: 1;
}

.line-339 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 471px;
  top: 649px;
  transform: translate(-0.5px, -27px);
  opacity: 1;
}

.line-366 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 738.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-367 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 548px;
  top: 823.5px;
  opacity: 1;
}

.line-368 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 548px;
  top: 795.5px;
  opacity: 1;
}

.line-369 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 391px;
  top: 760px;
  opacity: 1;
}

.line-370 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 781.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-371 {
  width: 2px;
  height: 44px;
  position: absolute;
  left: 391px;
  top: 738px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-402 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 471px;
  top: 760px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-403 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 879.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-404 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 391px;
  top: 858px;
  opacity: 1;
}

.line-405 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 835.5px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-406 {
  width: 2px;
  height: 45px;
  position: absolute;
  left: 391px;
  top: 880px;
  transform: translate(-0.5px, -45px);
  opacity: 1;
}

.line-407 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 471px;
  top: 858px;
  transform: translate(-0.5px, -27px);
  opacity: 1;
}

.line-344 {
  width: 2px;
  height: 89px;
  position: absolute;
  left: 566px;
  top: 675px;
  transform: translate(-0.5px, -89px);
  opacity: 1;
}

.line-408 {
  width: 2px;
  height: 101px;
  position: absolute;
  left: 566px;
  top: 824px;
  transform: translate(-0.5px, -101px);
  opacity: 1;
}

.line-499 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 520px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-500 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 530px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-501 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 809px;
  top: 615px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-502 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 809px;
  top: 587px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-503 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 711px;
  top: 716px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-504 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 711px;
  top: 684px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-505 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 966px;
  top: 551px;
  transform: translate(-80.5px, -0.5px);
  opacity: 1;
}

.line-506 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 574px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-507 {
  width: 2px;
  height: 46px;
  position: absolute;
  left: 966px;
  top: 529.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-508 {
  width: 32px;
  height: 1px;
  position: absolute;
  left: 1178px;
  top: 530px;
  transform: translate(-32px, -0.5px);
  opacity: 1;
}

.line-509 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1178px;
  top: 519.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-514 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 540px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-516 {
  width: 18.5px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 563px;
  transform: translate(-18.5px, -0.5px);
  opacity: 1;
}

.line-517 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 1178px;
  top: 573px;
  transform: translate(-33px, -0.5px);
  opacity: 1;
}

.line-518 {
  width: 2px;
  height: 20px;
  position: absolute;
  left: 1178px;
  top: 563px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-520 {
  width: 18.5px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 583px;
  transform: translate(-18.5px, -0.5px);
  opacity: 1;
}

.line-527 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 617px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-528 {
  width: 34px;
  height: 1px;
  position: absolute;
  left: 1178px;
  top: 627px;
  transform: translate(-34px, -0.5px);
  opacity: 1;
}

.line-529 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1178px;
  top: 616.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-531 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 637px;
  transform: translate(-17.5px, -0.5px);
  opacity: 1;
}

.line-532 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 661px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-533 {
  width: 34px;
  height: 1px;
  position: absolute;
  left: 1178px;
  top: 671px;
  transform: translate(-34px, -0.5px);
  opacity: 1;
}

.line-534 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1178px;
  top: 660.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-536 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 681px;
  transform: translate(-17.5px, -0.5px);
  opacity: 1;
}

.line-537 {
  width: 2px;
  height: 46px;
  position: absolute;
  left: 966px;
  top: 529.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-538 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 886px;
  top: 551px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-539 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 671px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-540 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 966px;
  top: 649px;
  transform: translate(-80.5px, -0.5px);
  opacity: 1;
}

.line-541 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 626px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-542 {
  width: 2px;
  height: 47px;
  position: absolute;
  left: 966px;
  top: 671.5px;
  transform: translate(-0.5px, -46px);
  opacity: 1;
}

.line-543 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 886px;
  top: 649px;
  transform: translate(-0.5px, -27px);
  opacity: 1;
}

.line-544 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 729px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-545 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 739px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-546 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 809px;
  top: 825px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-547 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 809px;
  top: 797px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-548 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 966px;
  top: 760px;
  transform: translate(-80.5px, -0.5px);
  opacity: 1;
}

.line-549 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 783px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-550 {
  width: 2px;
  height: 46px;
  position: absolute;
  left: 966px;
  top: 738.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-551 {
  width: 35px;
  height: 1px;
  position: absolute;
  left: 1177px;
  top: 739px;
  transform: translate(-35px, -0.5px);
  opacity: 1;
}

.line-552 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1177px;
  top: 728.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-557 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 749px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-559 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 772px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-560 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 1177px;
  top: 782px;
  transform: translate(-33px, -0.5px);
  opacity: 1;
}

.line-561 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1177px;
  top: 771.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-563 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 792px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-570 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 826px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-571 {
  width: 34px;
  height: 1px;
  position: absolute;
  left: 1178px;
  top: 836px;
  transform: translate(-34px, -0.5px);
  opacity: 1;
}

.line-572 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1178px;
  top: 825.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-574 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 846px;
  transform: translate(-17.5px, -0.5px);
  opacity: 1;
}

.line-575 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 870px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-576 {
  width: 34px;
  height: 1px;
  position: absolute;
  left: 1178px;
  top: 880px;
  transform: translate(-34px, -0.5px);
  opacity: 1;
}

.line-577 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1178px;
  top: 869.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-579 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 890px;
  transform: translate(-17.5px, -0.5px);
  opacity: 1;
}

.line-580 {
  width: 2px;
  height: 46px;
  position: absolute;
  left: 966px;
  top: 738.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-581 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 886px;
  top: 760px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-582 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 880px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-583 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 966px;
  top: 858px;
  transform: translate(-80.5px, -0.5px);
  opacity: 1;
}

.line-584 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 835px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-585 {
  width: 2px;
  height: 47px;
  position: absolute;
  left: 966px;
  top: 880.5px;
  transform: translate(-0.5px, -46px);
  opacity: 1;
}

.line-586 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 886px;
  top: 858px;
  transform: translate(-0.5px, -27px);
  opacity: 1;
}

.line-587 {
  width: 2px;
  height: 88px;
  position: absolute;
  left: 791px;
  top: 675px;
  transform: translate(-0.5px, -88px);
  opacity: 1;
}

.line-588 {
  width: 2px;
  height: 103px;
  position: absolute;
  left: 791px;
  top: 825.5px;
  transform: translate(-0.5px, -102px);
  opacity: 1;
}

.line-593 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 32px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-594 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 42px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-595 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 548px;
  top: 127px;
  opacity: 1;
}

.line-596 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 548px;
  top: 99px;
  opacity: 1;
}

.line-597 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 646px;
  top: 228px;
  opacity: 1;
}

.line-598 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 646px;
  top: 196px;
  opacity: 1;
}

.line-599 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 391px;
  top: 63px;
  opacity: 1;
}

.line-600 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 86px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-601 {
  width: 2px;
  height: 46px;
  position: absolute;
  left: 391px;
  top: 41.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-602 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 180px;
  top: 42px;
  opacity: 1;
}

.line-603 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 180px;
  top: 31.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-608 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 52px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-610 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 75px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-611 {
  width: 32px;
  height: 1px;
  position: absolute;
  left: 180px;
  top: 85px;
  opacity: 1;
}

.line-612 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 180px;
  top: 74.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-614 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 95px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-621 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 129px;
  opacity: 1;
}

.line-622 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 179px;
  top: 139px;
  opacity: 1;
}

.line-623 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 179px;
  top: 128.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-625 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 149px;
  opacity: 1;
}

.line-626 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 173px;
  opacity: 1;
}

.line-627 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 179px;
  top: 183px;
  opacity: 1;
}

.line-628 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 179px;
  top: 172.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-630 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 193px;
  opacity: 1;
}

.line-631 {
  width: 2px;
  height: 46px;
  position: absolute;
  left: 391px;
  top: 41.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-632 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 471px;
  top: 63px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-633 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 183px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-634 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 391px;
  top: 161px;
  opacity: 1;
}

.line-635 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 138px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-636 {
  width: 2px;
  height: 47px;
  position: absolute;
  left: 391px;
  top: 183.5px;
  transform: translate(-0.5px, -46px);
  opacity: 1;
}

.line-637 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 471px;
  top: 161px;
  transform: translate(-0.5px, -27px);
  opacity: 1;
}

.line-638 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 241px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-639 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 251px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-640 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 548px;
  top: 337px;
  opacity: 1;
}

.line-641 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 548px;
  top: 309px;
  opacity: 1;
}

.line-642 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 391px;
  top: 272px;
  opacity: 1;
}

.line-643 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 295px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-644 {
  width: 2px;
  height: 46px;
  position: absolute;
  left: 391px;
  top: 250.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-645 {
  width: 32px;
  height: 1px;
  position: absolute;
  left: 180px;
  top: 251px;
  opacity: 1;
}

.line-646 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 180px;
  top: 240.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-653 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 261px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-655 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 284px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-656 {
  width: 32px;
  height: 1px;
  position: absolute;
  left: 180px;
  top: 294px;
  opacity: 1;
}

.line-657 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 180px;
  top: 283.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-659 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 304px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-666 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 338px;
  opacity: 1;
}

.line-667 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 179px;
  top: 348px;
  opacity: 1;
}

.line-668 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 179px;
  top: 337.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-670 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 358px;
  opacity: 1;
}

.line-671 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 382px;
  opacity: 1;
}

.line-672 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 179px;
  top: 392px;
  opacity: 1;
}

.line-673 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 179px;
  top: 381.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-675 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 161px;
  top: 402px;
  opacity: 1;
}

.line-676 {
  width: 2px;
  height: 46px;
  position: absolute;
  left: 391px;
  top: 250.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-677 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 471px;
  top: 272px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-678 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 392px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-679 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 391px;
  top: 370px;
  opacity: 1;
}

.line-680 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 372px;
  top: 347px;
  transform: translate(0px, -0.5px);
  opacity: 1;
}

.line-681 {
  width: 2px;
  height: 47px;
  position: absolute;
  left: 391px;
  top: 392.5px;
  transform: translate(-0.5px, -46px);
  opacity: 1;
}

.line-682 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 471px;
  top: 370px;
  transform: translate(-0.5px, -27px);
  opacity: 1;
}

.line-683 {
  width: 2px;
  height: 88px;
  position: absolute;
  left: 566px;
  top: 187px;
  transform: translate(-0.5px, -88px);
  opacity: 1;
}

.line-684 {
  width: 2px;
  height: 103px;
  position: absolute;
  left: 566px;
  top: 337.5px;
  transform: translate(-0.5px, -102px);
  opacity: 1;
}

.line-685 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 32px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-686 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 42px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-687 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 809px;
  top: 127px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-688 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 809px;
  top: 99px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-689 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 711px;
  top: 228px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-690 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 711px;
  top: 196px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-691 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 966px;
  top: 63px;
  transform: translate(-80.5px, -0.5px);
  opacity: 1;
}

.line-692 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 86px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-693 {
  width: 2px;
  height: 46px;
  position: absolute;
  left: 966px;
  top: 41.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-694 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 1177px;
  top: 42px;
  transform: translate(-33px, -0.5px);
  opacity: 1;
}

.line-695 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1177px;
  top: 31.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-700 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 52px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-702 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 75px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-703 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 1177px;
  top: 85px;
  transform: translate(-33px, -0.5px);
  opacity: 1;
}

.line-704 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1177px;
  top: 74.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-706 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 95px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-713 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 129px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-714 {
  width: 34px;
  height: 1px;
  position: absolute;
  left: 1178px;
  top: 139px;
  transform: translate(-34px, -0.5px);
  opacity: 1;
}

.line-715 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1178px;
  top: 128.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-717 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 149px;
  transform: translate(-17.5px, -0.5px);
  opacity: 1;
}

.line-718 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 173px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-719 {
  width: 34px;
  height: 1px;
  position: absolute;
  left: 1178px;
  top: 183px;
  transform: translate(-34px, -0.5px);
  opacity: 1;
}

.line-720 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1178px;
  top: 172.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-722 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 193px;
  transform: translate(-17.5px, -0.5px);
  opacity: 1;
}

.line-723 {
  width: 2px;
  height: 46px;
  position: absolute;
  left: 966px;
  top: 41.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-724 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 886px;
  top: 63px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-725 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 183px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-726 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 966px;
  top: 161px;
  transform: translate(-80.5px, -0.5px);
  opacity: 1;
}

.line-727 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 138px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-728 {
  width: 2px;
  height: 47px;
  position: absolute;
  left: 966px;
  top: 183.5px;
  transform: translate(-0.5px, -46px);
  opacity: 1;
}

.line-729 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 886px;
  top: 161px;
  transform: translate(-0.5px, -27px);
  opacity: 1;
}

.line-730 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 241px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-731 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 251px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-732 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 809px;
  top: 337px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-733 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 809px;
  top: 309px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-734 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 966px;
  top: 272px;
  transform: translate(-80.5px, -0.5px);
  opacity: 1;
}

.line-735 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 295px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-736 {
  width: 2px;
  height: 46px;
  position: absolute;
  left: 966px;
  top: 250.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-737 {
  width: 33px;
  height: 1px;
  position: absolute;
  left: 1178px;
  top: 251px;
  transform: translate(-33px, -0.5px);
  opacity: 1;
}

.line-738 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1178px;
  top: 240.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-745 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 261px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-747 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 284px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-748 {
  width: 34px;
  height: 1px;
  position: absolute;
  left: 1178px;
  top: 294px;
  transform: translate(-34px, -0.5px);
  opacity: 1;
}

.line-749 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1178px;
  top: 283.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-751 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 304px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-758 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 338px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-759 {
  width: 34px;
  height: 1px;
  position: absolute;
  left: 1178px;
  top: 348px;
  transform: translate(-34px, -0.5px);
  opacity: 1;
}

.line-760 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1178px;
  top: 337.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-762 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 358px;
  transform: translate(-17.5px, -0.5px);
  opacity: 1;
}

.line-763 {
  width: 18px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 382px;
  transform: translate(-18px, -0.5px);
  opacity: 1;
}

.line-764 {
  width: 35px;
  height: 1px;
  position: absolute;
  left: 1178px;
  top: 392px;
  transform: translate(-35px, -0.5px);
  opacity: 1;
}

.line-765 {
  width: 2px;
  height: 22px;
  position: absolute;
  left: 1178px;
  top: 381.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-767 {
  width: 17.5px;
  height: 1px;
  position: absolute;
  left: 1196px;
  top: 402px;
  transform: translate(-17.5px, -0.5px);
  opacity: 1;
}

.line-768 {
  width: 2px;
  height: 46px;
  position: absolute;
  left: 966px;
  top: 250.5px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-769 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 886px;
  top: 272px;
  transform: translate(-0.5px, 0px);
  opacity: 1;
}

.line-770 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 392px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-771 {
  width: 80.5px;
  height: 1px;
  position: absolute;
  left: 966px;
  top: 370px;
  transform: translate(-80.5px, -0.5px);
  opacity: 1;
}

.line-772 {
  width: 19px;
  height: 1px;
  position: absolute;
  left: 985px;
  top: 347px;
  transform: translate(-19px, -0.5px);
  opacity: 1;
}

.line-773 {
  width: 2px;
  height: 47px;
  position: absolute;
  left: 966px;
  top: 392.5px;
  transform: translate(-0.5px, -46px);
  opacity: 1;
}

.line-774 {
  width: 2px;
  height: 27px;
  position: absolute;
  left: 886px;
  top: 370px;
  transform: translate(-0.5px, -27px);
  opacity: 1;
}

.line-775 {
  width: 2px;
  height: 88px;
  position: absolute;
  left: 791px;
  top: 187px;
  transform: translate(-0.5px, -88px);
  opacity: 1;
}

.line-776 {
  width: 2px;
  height: 103px;
  position: absolute;
  left: 791px;
  top: 337.5px;
  transform: translate(-0.5px, -102px);
  opacity: 1;
}

.round-of-64 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 46px;
  top: 0px;
}

.round-of-32 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 257px;
  top: 0px;
}

.round-of-322 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 1028px;
  top: 0px;
  width: 82px;

}

.sweet-sixteen {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 435px;
  top: 0px;
}

.sweet-sixteen2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 846px;
  top: 0px;
}

.elite-eight {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 539px;
  top: 0px;
}

.elite-eight2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 765px;
  top: 0px;
}

.round-of-642 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 1241px;
  top: 0px;
  width: 82px;
}

.line-813 {
  width: 108px;
  height: 1px;
  position: absolute;
  left: 722px;
  top: 467px;
  opacity: 1;
}

.champion {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 645px;
  top: 322px;
}